doctype html
html(style="height: 100%; overflow: hidden")
	head
		title Dustforce Bingo Popout

		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
		link(rel='stylesheet', href='/bingo/css/style.css')
		link(rel='stylesheet', href='/bingo/css/board.css')
		link(rel='stylesheet', href='/bingo/css/custom.css')


	body(style="padding: 0px; margin: 0px; height: 100%")
		script!= "const ruleset = " + JSON.stringify(ruleset) + ";"
		- var sizeArray = new Array(parseInt(ruleset.size) || 1)
		- var sizeWord = (ruleset.size == 5 ? "fifth" : (ruleset.size == 4 ? "fourth" : "third"))
		- var colClass = "col-" + sizeWord;
		- var rowClass = "row-" + sizeWord;

		div#temp_board_div.popout_container.noselect
			div.popout_bingo_behind
				each val, i in sizeArray
					div.row.popout_row.margin_zero(class=rowClass)
						each val, j in sizeArray
							div(class=colClass)
								div.bingo_table_cell
									div.bingo_table_inner_cell

			div.popout_bingo_behind
				each val, i in sizeArray
					div.row.popout_row.margin_zero(class=rowClass)
						div.col(style="padding: 0px; margin: auto")
							div.popout_fake_bingo_cell
								if i == Math.floor((ruleset.size - 1) / 2)
									div#fake_center
										h4(style="text-align: center; margin: auto") Waiting to receive board...


		div#board_div.popout_container.noselect(style="display: none")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")

		script= "const sessionId = \'" + session.id + "';"
		script= "const player = \'" + player + "';"
		script= "const compact = \'" + compact + "' == 'true';"
		script(src="/bingo/socket/socket.io.min.js")
		script(src="/bingo/js/board.js")
		script(src="/bingo/js/popout.js")
		script= "setSizes(true);"

		if compact == "true"
			script= "$(\'#board_div\').addClass(\'compact\');"
			script= "$(\'#temp_board_div\').addClass(\'compact\');"