extends layout

block js
	script= "const sessionId = \'" + session.id + "';"
	script!= "const ruleset = " + JSON.stringify(ruleset) + ";"
	script= "var bingoStarted = " + bingoStarted
	script= "var player = undefined"
	script= "var compact = false"
	script= "var bingoLog = []"
	script(src="/bingo/socket/socket.io.min.js")
	script(src="/bingo/js/board.js")
	script(src="/bingo/js/session.js")
	script= "setSizes(false);"

block content
	
	div.floater
		div.alert.alert-danger(role="alert", style="display:none;")
			div.alert-text
			button.close(type="button", aria-label="Close")
				span(aria-hidden="true") &times;

	div.floater
		div.alert.alert-info(role="alert", style="display:none;") 
			div.alert-text Connecting to dustkid.com...
			
	div.floater
		div.alert.alert-success(role="alert", style="display:none;") 
			div.alert-text Connected!
			button.close(type="button", aria-label="Close")
				span(aria-hidden="true") &times;
				
	div.floater
		div.alert.alert-warning.multiple(style="display:none;")
			div.alert-text <strong>Multiple users found!</strong> Select which one is you!
			button.close(type="button" aria-label="Close" onclick="resetJoin()")
				span(aria-hidden="true") &times;
			div.chooser
			
			
	div#main_div.row

		div.col-xl-4
			div#user_div.row
				div.col
					form#username_form.form_inline
						input#username.form-inline(placeholder="Username/id#")
					button#join.btn.btn-sm Join
					button#ready.btn.btn-sm Ready
					button#reset(style="display: none")
					div#color_div
						div#color_label Color
						div#color_align
							button#color.btn(value="white", style="background-color:var(--white)")
							div#color_container.collapse
								each val in ["Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Pink", "White"]
									div.btn.colorpicker(value= val.toLowerCase(), style= "background-color:var(--" + val.toLowerCase() + ");")

			div.row
				div#players_table_div.col

			div#under_players(style="margin-bottom: 1rem")

			div
				
				if ruleset.gametype != "64"
					h4.impact Goal Options
					- var perline = 6;
					- var steps = new Array(Math.ceil(enabled.length/perline));
					- var i = -1;
					each na, nb in steps
						div.row.margin_zero
							each nc, nd in new Array(perline)
								- i++;
								if i < enabled.length
									- var option = options[enabled[i]]
									div.col-2.mb-3
										div.goal-option(data-toggle="tooltip" data-placement="top" title=option.clean_name + (option.tooltip ? " - " + option.tooltip : ""))
											div(style="position: relative; top: -1px")
												img(src=option.icon class=option.icon_type + "_large")

				h4.impact Rules
				ul
					- var ssWord = ruleset.ss ? "SS" : "Any%"
					- var newgameWord = ruleset.newgame ? "New Game" : "New Game +"
					if ruleset.gametype == "64"
						li #{newgameWord}
						li #{ssWord} Lockout Race, #{wincondition}
						li Hub: #{ruleset.hub}
						li Capture: #{captureText}
					else
						li #{newgameWord}, Length: #{ruleset.length_raw}, Difficulty: #{ruleset.difficulty_raw}
						li #{ruleset.size} by #{ruleset.size}, #{wincondition}
					if ruleset.lockout
						li Lockout: Each goal can only be achieved by one person.
					if ruleset.hidden
						if ruleset.gametype == "64"
							li Hidden: Start with all level goals invisible. Reveal neighbor goals by getting goals.
						else
							li Hidden: Start with only the center goal visible. Reveal neighbor goals by getting goals.
					if ruleset.teams
						li Team colors: Players with the same color are on a team.
					if ruleset.plugins
						li Plugins: Players are allowed to use plugins.
					li Players start at the Nexus door.
					li Level tomes and level editor are banned.

			div
				include how.pug

		div.col-xl-8.noselect
			- var sizeArray = new Array(parseInt(ruleset.size) || 1)
			- var colClass = "col-" + (ruleset.size == 8 ? "eighth" : (ruleset.size == 5 ? "fifth" : (ruleset.size == 4 ? "fourth" : "third")))

			div
				div#temp_board_div
					div.bingo_behind
						if ruleset.gametype != "64"
							div.row.margin_zero.bingo_top
								div.dia_identifier
								each val, i in sizeArray
									div(class=colClass)
										div.col_identifier
						each val, i in sizeArray
							div.row.margin_zero
								if ruleset.gametype != "64"
									div.row_identifier
								each val, j in sizeArray
									div(class=colClass)
										div.bingo_table_cell
											div.bingo_table_inner_cell
						if ruleset.gametype != "64"
							div.row.margin_zero.bingo_bottom
								div.dia_identifier
					div
						if ruleset.gametype != "64"
							div.bingo_pushdown
						each val, i in sizeArray
							div.row.margin_zero
								div.col
									div.fake_bingo_cell
										if i == Math.floor((ruleset.size - 1) / 2)
											div#fake_center
												button#start.btn.btn-lg.btn-block(style="margin: auto") Start
												h2#starting(style="display: none") Starting...

					div.float-right
						a#popout(onclick="popoutBoard()", style="color: var(--blue); cursor: pointer") Popout

				div#board_div

				if ruleset.size != 8
					div#compact_div.checkbox
						label(style="min-width: 100px")
							input#compact(type="checkbox" onchange="toggleCompact()")
							<img id="check_compact" class="checkbox_img icon" src="/bingo/img/ready_false.png" />
							p Compact board
