extends layout

block js
	script= "const sessionId = \'" + session.id + "';"
	script(src="/socket/socket.io.min.js")
	script(src="/js/board.js")
	script(src="/js/session.js")

block content
	div#user_div.row
		div.col
			input#username(placeholder="Username")
			button#join.btn.btn-primary.btn-sm Join
			button#ready.btn.btn-primary.btn-sm Ready
			select#color
				option(value="blue") Blue
				option(value="indigo") Indigo
				option(value="purple") Purple
				option(value="pink") Pink
				option(value="red") Red
				option(value="orange") Orange
				option(value="yellow") Yellow
				option(value="green") Green
				option(value="teal") Teal
				option(value="cyan") Cyan
				option(value="white" selected) White 
				option(value="gray") Gray
			h6#connecting.collapse Connecting to dustkid.com...

	div#main_div.row

		div#players_table_div.col-md-4

		div#board_div.col-md-8
			button#start.btn.btn-primary.btn-lg.btn-block Start

	div
		h4 Rules
		ul
			li #{save}, #{length}, #{difficulty}
			li #{size} by #{size}, first to #{wincondition}
			li Lockout: #{lockout}
			li Goal options: #{options}

		include rules.pug